.box{
    position: fixed;
    width: 100px;
    height: 100px;
    text-align: center;    
}

#box1{
    background-color: red;
}

#box2{
    top: 0px;
    right: 0px;
    background-color: purple;
}

#box3{
    bottom: 0px;
    right: 0px;
    background-color: green ;
}

#box4{
    bottom: 0px;
    background-color: yellow;
}

#box5{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
}