h1{
    color: #8a1e1e;
    font-size: 30pt;
}
table{
    border-collapse: collapse;
}

thead td{
    border: 2px solid black;
}

td {

    /*border: 1px solid black;*/
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

