.container{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    /*flex-direction: column-reverse; -> fica ao contrário*/
    flex-wrap: wrap; /*quegra a linha*/
    justify-content: space-evenly;
    /*align-items: center;*/
    align-content: stretch;
    border: 1px solid black;
}

.box{
    border: 3px solid brown;
    flex-shrink: 0; /*pode ser distorcido, para cada elemento*/
    min-height: 30px;

}

.box:hover{
    flex-grow: 1;
    background-color: burlywood;
    transition: 2s;
}

#c1-box5{
    align-self: flex-start;
    
}