*{
    margin: 0px;
    padding: 0px;
}

.head{
    width: 20px;
    height: 100%;
}

.propG{
    width: 100%;
    height: 400px
}

.prop{
    width: 49%;
    height: 400px;
}

.container{
    display: grid;
    grid-template-areas: 
        "ap st mc pad pho wa vi ap tv ent acc sup pes bag"
        "aw aw aw aw aw aw aw aw aw aw aw aw aw aw"
        "ip ip ip ip ip ip ip ip ip ip ip ip ip ip"
        "i i i i i i i i i i i i i i"
        "wdc wdc wdc wdc wdc wdc wdc vp vp vp vp vp vp vp"
        "ma ma ma ma ma ma ma ip ip ip ip ip ip ip"
    ;

    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 10% repeat(5, 300px);
    background-color: black;

    width: 100%;
    height: 1000px;
}

.box{
    background-color: black;
    color: white;
}

.box1{
    grid-area: ap;
}

.box2{
    grid-area: st;
}

.box3{
    grid-area: mc;
}

.box4{
    grid-area: pad;
}

.box5{
    grid-area: pho;
}

.box6{
    grid-area: wa;
}

.box7{
    grid-area: vi;
}

.box8{
    grid-area: ap;
}

.box9{
    grid-area: tv;
}

.box10{
    grid-area: ent;
}

.box11{
    grid-area: acc;
}

.box12{
    grid-area: sup;
}

.box13{
    grid-area: pes;
}

.box14{
    grid-area: bag;
}

.box15{
    grid-area: aw;
}

.box16{
    grid-area: ip;
}

.box17{
    grid-area: i;
}

.box18{
    grid-area: wdc;
}

.box19{
    grid-area: vp;
}

.box20{
    grid-area: ma;
}

.box21{
    grid-area: ip;
}