#tela{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid black;
    width: min-content;
    height: 300px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
}

#nome{
    margin-top: -30px;
}

#tela > div {
    width: 100%;
}

img{
    height: 20px;
    width: 20px;
}

.convP, .convE {
    display: flex;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: -5;
    border-radius: 5px;
    align-items: center;
}
.convP {
    justify-content: flex-start; 
}

.convE{
    justify-content: flex-end; 
    background-color: lightgreen;
}

.hr {
    align-self: flex-end; 
    margin-top: auto; 
    margin-bottom: 3px; 
}

.fotoE{
    margin-right: 10px;
}


#BarraPesq {
    border: 1px solid black;
    width: 180px;
    height: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#APesquisa{
    display: grid;
    border: 1px solid black;
    justify-content: center;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: -40px; 
}

#enviar{
    width: 40px;
    height: 20px;
    margin-top: -20px;
    font-size: 10px;
}

#logo {
    height: 50px;
    width: 50px;
}

body{
    display: grid;
    padding-left: 30%;
}

#larg{
    width: 50%; 
    display: inline;
    margin-top: 80px;
}

#links{
    padding-left: 40%;
    font-size: 20px;
}

#links>a{
    margin-left: 20px;
}

.img{
    height: auto;
    width: 100%;
}

#imgPF, #imgSorv, #imgSorv2{
    background-color: lightgray;
    width: 100%;
    margin-top: 20px;
    padding-left: 10%;
    border-radius: 10px;

}

#imgPF>img, #imgSorv>img, #imgSorv2>img{
    width: 90%;
    height: 200px;
    margin-top: 10px;
}