

h2, h5{
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h4{
    color: #363636;
}

table, td, th, caption{
    border: 4px solid black;
    border-style: ridge;
    border-collapse: collapse;
    page-break-inside: auto;
    text-align: center;
}

thead{
    background-color: gray;
}

th{
    width: 3cm;
}

img{
    width: 50%;
    border-radius: 10%;
    align-content: center;
}